{
  "presets": [
    "@babel/es2017",
    "@babel/es2016",
    ["@babel/es2015", { "modules": false }],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-flow-strip-types"
  ],
  "env": {
    "test": {
      "presets": ["@babel/es2015"]
    },
    "commonjs": {
      "presets": ["@babel/es2015"]
    }
  }
}
