{
  "presets": [
    ["@babel/env", { "modules": false }],
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "test": {
      "presets": ["@babel/env"]
    },
    "commonjs": {
      "presets": ["@babel/env"]
    }
  }
}
