{
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:flowtype/recommended", "plugin:ava/recommended"],
  "plugins": ["babel", "react", "flowtype", "ava"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "16.5.2",
      "flowVersion": "0.83"
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": [2, "never"],
    "comma-dangle": [2, {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }]
  }
}
